body {
    margin: 10%;
    background-color: rgba(60, 185, 194, 0.377);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
  }
  button,
  input {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
  }
  button {
    color: black;
    font-weight: bold;
    
  }
  heroimage{
    size: 50px;

  }